body{
    background-color: #fffffc;
}

#main{
    width: 300px;
}

#panel{
 width: 300px;   
}

.mycanvas{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#contents{
    display: flex;
}