body{
    background-color: #fffffc;
}

#main{
    width: 400px;
}

#panel{
 width: 300px;   
}

.mycanvas{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.area{
    margin-right: 10;
    position: relative;
}

#area1{
    background-color: #0fffff;
    width: 400;
    height: 400;
}

#area2{
    background-color: aquamarine;
    width: 400;
    height: 400;
}

#contents{
    display: flex;
}